/* CSS Reset*/
*:not(script,head) {
  all: unset;
  box-sizing: border-box;
}

:root {
  --header-size : max(15vh,100px);
}

html {
  font-family: fantasy, system-ui, -apple-system;
  --s: 100px; /* control the size */
  
  --_g: #0000 90deg,rgb(144, 144, 144) 0;
  background: 
    conic-gradient(from 90deg at 2px 2px,var(--_g)),
    conic-gradient(from 90deg at 1px 1px,var(--_g));
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);

  overflow-y: scroll;
}


h1 {
  display: block;
  font-size: 3rem;
}

h2 {
  margin-block: 1rem;
  display: block;
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

div, header {
  display: block;
}

header {
  height: var(--header-size);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header + div {
  margin-top: var(--header-size);
  margin-bottom: 100px;
  margin-inline: 2rem;
}

a:hover {
  color: lightblue;
  text-decoration: underline;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1 1 0;

  background-color: white;
  border: solid 2px black;
  padding: 1rem;
}

:is(input,textarea,select,button) {
  border: solid 2px black;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  transition: background-color 200ms;
}

input,textarea {
  text-align: left;
}

:is(input,textarea,select,button):hover {
  background: lightgrey;
}

.app {
  text-align: center;
}

header {
  background-color: #333;
  padding: 10px;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

h3 {
  text-decoration: underline;
  font-size: 2rem;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1 1 300px;
  margin-inline: auto;
  background-color: white;
  border: solid 2px black;
  padding: 50px;
}

.task div > *:not(:last-child) {
  margin-bottom: 20px;
}

.task button:last-child {
  flex: 1 0 100%;
}

header + div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

header + div > h2 {
  flex: 1 0 100%;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 20px;

  background-color: white;
  border: solid 2px black;
  padding: 20px;
}

label {
  display:flex;
  align-items: center;
  gap: 20px;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.delete {
  flex: 1 0 100%;
}

.task.valide {
  background-color: yellowgreen;
}

.task.abandon {
  background-color: red;
}

.task p {
  display: block;
}

.filterWrapper {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}